.wood {
    display: flex;
    align-items: center;
    justify-content: center;

    height: calc(100vh - 120px);
    width: 100%;
    //1200px;
    // background-image: url("../../assets/images/woodTexture.jpg");
    border-radius: 50vmin;
}

.red {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    /* margin-top: 0px; */
    /* z-index: -1; */
    /* padding-top: 114px; */
    /* width: calc(100% - 60px); */
    width: 100%;
    background-size: cover;
    /* border-radius: 50vmin; */
    border-bottom-right-radius: 250px;
    border-bottom-left-radius: 250px;
    background-image: url("../../assets/images/deskTexture5.jpg");
    box-shadow: inset black 3px 3px 20px 15px;
    padding-bottom: 15px;
    background-size: cover;
}


.amounts{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}