.red {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 150px);
    width: 100%;
    box-shadow: inset black 0px -5px 20px 15px;
    padding-bottom: 15px;

    @media screen and (min-width: 768px) {
        border-bottom-right-radius: 250px;
        border-bottom-left-radius: 250px;
    }

    @media screen and (max-width: 767px) {
        border-bottom-right-radius: 150px;
        border-bottom-left-radius: 150px;
    }
    @media screen and (max-width: 576px) {
        border-bottom-right-radius: 75px;
        border-bottom-left-radius: 75px;
    }
}

.amounts {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    @media screen and (max-width: 576px) {
        flex-direction: column;
    }
    @media screen and (min-width: 577px) {
    }
}

.boardImage {
    position: absolute;
    width: 100%;
    top: 70px;
    z-index: -1;

    @media screen and (min-width: 768px) {
        border-bottom-right-radius: 250px;
        border-bottom-left-radius: 250px;
        height: calc(100vh - 140px);
    }

    @media screen and (max-width: 767px) {
        border-bottom-right-radius: 150px;
        border-bottom-left-radius: 150px;
        height: calc(100vh - 140px);
    }
    @media screen and (max-width: 576px) {
        border-bottom-right-radius: 75px;
        border-bottom-left-radius: 75px;
        height: calc(100vh - 150px);
    }
}
