.desk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: calc(100vh - 70px);
    width: 100%;
}

.deskImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: -2;
    background: linear-gradient(180deg, #f3984d, #d49561 45%, #f5cfae 90%, #fff 100%);
}
