.desk {
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: calc(100vh - 70px);
    width: 100%;
    background-image: url("../../assets/images/texture2.jpg");
    background-size: cover;
}
