@font-face {
    font-family: "Antiquegr";
    src: url("../../../../assets/fonts/Antiquegr.ttf");
}
.positionLabel {
    font-size: 34px;
    font-family: "Antiquegr";
    color: white;
    text-shadow: 2px 2px 0px black;
}