body {
    margin: 0;
}

@font-face {
    font-family: "Antiquegr";
    src: url("./assets/fonts/Antiquegr.ttf");
}

@font-face {
    font-family: "Belleza-Regular";
    src: url("./assets/fonts/Belleza-Regular.ttf");
}
